# =================== Customize Remote Here ========================
# REQUIRED: Set values for REMOTE_USER, REMOTE_HOST
#
# Remote username and hostname
REMOTE_USER="<rsync.net username>"
REMOTE_HOST="<host>.rsync.net"

# Set and export BORG_PASSPHRASE in the environment
# export BORG_PASSPHRASE="longandcomplexpassphrase"
# ================ End Required Customization=======================

# Absolute path to the locally installed borg command
BORG="/usr/local/bin/borg"

# Absolute path to the remote installed borg command
BORG_REMOTE_PATH="/usr/loca/bin/borg1/borg1"

# Storage path on remote, default: <hostname>/backups
BACK_HOST="$(hostname)"
BACK_DIR="backups"
# Remote borg repository to use
# If using a non-standard SSH port ssh:// have to be specified (per borg v1.0.9)
#BORG_REPO="ssh://${REMOTE_USER}@${REMOTE_HOST}:<ssh_port>/${BACK_HOST}/${BACK_DIR}"
BORG_REPO="${REMOTE_USER}@${REMOTE_HOST}:${BACK_HOST}/${BACK_DIR}"

PATHS=(
    '/etc'
    '/home'
    '/root'
    '/srv'
    '/usr/local'
    '/var'
)
EXCLUDES=(
    '/home/*/.cache'
    '/root/.cache'
    '*.pyc'
    '/home/*/.local/share/Daedalus'
    '/home/*/Music/*'
    '/home/*/transfers/*'
    '/var/tmp/*'
    '/var/cache'
    '/var/lib/docker/devicemapper'
    '/var/lock/*'
    '/var/run/*'
    '/var/tmp/*'
    '/var/backups/*'
    '/var/spool/*'
    '*/.Trash-*'
    '*/[Cc]ache/*'
    '*/.bitcoin/blocks/*'
    '*.vmdk'
)

KEEP_HOURLY=0
KEEP_DAILY=7
KEEP_WEEKLY=4
KEEP_MONTHLY=3
KEEP_YEARLY=2

# Arguments to the borg commands
#
# borg create ...
BORG_CREATE_ARGS=(
    --info
    --list
    --filter AME
    --compression lz4
    --exclude-caches
)

# borg prune ...
BORG_PRUNE_ARGS=(
    --info
    --list
)

# borg check ...
BORG_CHECK_ARGS=(
    --info
)

# borg init ...
BORG_INIT_ARGS=(
   --encryption=keyfile
)
